.back {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.main-container {
  border-radius: 20px;
  margin: 30px;
  background-color: white;
  width: 55%;
  border: 1px solid blue;
  height: 85%;
  h2 {
    margin: 15px;
  }
  .fa-key {
    font-size: 2rem;
    margin-left: 5px;
  }
  hr {
    margin-left: 15px;
    margin-right: 15px;
  }
  form {
    margin: 15px;
    .check-section {
      display: flex;
      align-items: center;
    }
  }
}
